html{
	font-size: 16px;
	line-height: 1.4;
	scroll-behavior: smooth;
}

@media only screen and (max-width: 959px){
	html{
		font-size: 14px;
	}
}

body,
.application{
	font-family: "Montserrat", Arial, sans-serif;
	line-height: 1.4;
	scroll-behavior: smooth;
}

.theme--light.application{
	background-color: #fff;	
}

.application--wrap{
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
}

[v-cloak] {
	display: none;
}

a,
a:hover,
a:focus,
a:active{
	outline:0;
}

.text-center{
	text-align: center;
}

.container{
	padding: 0 32px;
}

@media only screen and (max-width: 959px){
	.container {
	    padding: 16px;
	}
}

@media only screen and (min-width: 960px){
	.container {
	    max-width: 1200px;
	}
}

@media only screen and (min-width: 1904px){
	.container {
	    max-width: 1400px;
	}
}


/* Typography */
h1, h2,
.h1, .h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top:0;
	line-height: 1.34;
}

h1, .h1{
	font-size: 2.25rem; /* 36px */
}

h2, .h2{
	font-size: 1.75rem; /* 28px */
	line-height: 1.2;
}

h3, .h3{
	font-size: 1.25rem; /* 20px */
	font-weight: 500;
	text-transform: uppercase;
}

@media (max-width: 399px){
	h3, .h3{
		font-size: 16px;
	}
}

.huge-text{
	display: inline-block;
	font-size: 4.5rem; /* 72px */
	line-height: .85;
}

@media (max-width: 399px){
	.huge-text{
		font-size: 52px;
	}
}

p{
	margin-top:0;
	margin-bottom: 1.25rem;
}

p:last-child{
	margin-bottom: 0;
}

a{
	color: #0070c5;
}

.fake-link{
	text-decoration: none;
	border-bottom: 1px dashed;
}

.inherit-link{
	color: inherit !important;
}

.inherit-link:hover{
	color: #0070c5 !important;;
}

.clearfix{
	height: 1px;
	clear: both;
}

.bold-text{
	font-weight: 600;
}

/* Colors */

.primary-text{
	color: #0070c5;
}

.primary{
	background-color: #0070c5;
}

.muted-text{
	color: #9E9E9E !important;
}

/* Utils */

.bordered{
	border: 3px solid #000;
}

.list-unstyled{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* Buttons */

.btn{
	position: relative;
	display: inline-block;
	height: 4.5rem; /* 72px */
	line-height: 4.5rem; /* 72px */
	padding: 0 2.5rem;
	font-size: 1.25rem; /* 20px */
	text-transform: uppercase;
	font-weight: 600;
	background-color: #0070c5;
	color: #fff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	transition: .25s;
}

.btn::before{
	content:"";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: #0f90f1;
	transition: .25s;
}

.btn__inner{
	position: relative;
}

.btn:active,
.btn:focus,
.btn:hover{
	outline: 0;
	text-decoration: none;
}

.btn:active::before,
.btn:focus::before,
.btn:hover::before{
	width: 100%;
}

.btn--bordered{
	position: relative;
	border: 3px solid #0070c5;
	background-color: #fff;
	color: #0070c5;
	line-height: 4.125rem; /* 66px */
}

.btn--bordered:before{
	background-color: #0070c5;
}

.btn--bordered:hover,
.btn--bordered:focus{
  color: #fff;
}

/* Forms */


.v-text-field--outline>.v-input__control>.v-input__slot{
	border-radius: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input:invalid{
	outline: 0;
}

/*Main*/

.dday-main{
	height: 100vh;
	min-height: 540px;
	padding-left: 0;
	padding-right: 0;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

.dday-main__left,
.dday-main__right{
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

.dday-main__left{
	flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

	background: url("../img/main_bg.jpg") center center no-repeat;
	background-size:  cover;
	border-right: 3px solid #000;
}

@media (max-width: 959px){
	.dday-main__left{
		border-right: 0;
	}
}

@media (max-width: 599px){
	.dday-main__left{
		padding: 16px;
	}
}

.dday-main__card{
	width: 80%;
	max-width: 32.5rem;
	background-color: #fff;
	padding: 3rem;
}

@media (max-width: 599px){
	.dday-main__card{
		width: 100%;
		padding: 32px 32px 40px;
	}
}

@media (max-width: 399px){
	.dday-main__card{
		padding: 24px 24px 40px;
	}
}
	.dday-main__card-header{
		margin-bottom: 3rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	@media (max-width: 599px){
		.dday-main__card-header{
			display: block;
			margin-bottom: 32px;
		}
	}

	.dday-main__card-header-left{
		position: relative;
		top: 1px;
		margin-bottom: 4px;
	}
	.dday-main__card-points{
		margin-top: 4rem;
	}

	@media (max-width: 599px){
		.dday-main__card-points{
			margin-top: 32px;
		}
	}

	.dday-main__card-points li{
		margin-top: .5rem;
	}

	.dday-main__card-points li::before{
		content: "/";
		color: #0ebc54;
		margin-right: .75rem;
	}

	.dday-main__card-points li:first-child{
		margin-top:0;
	}

.dday-main__program,
.dday-main__registration{
	position: relative;
	height: 50%;
	padding:  0 3rem;
	overflow: hidden;
}

.dday-main__program-list{
	position: relative;
	animation: marquee 10s infinite linear;
	max-width: 720px;
}

.dday-main__program-list li{
	padding-bottom: 2rem;
	opacity: .5;
	line-height: 1.2;
}

.dday-main__program-btn{
	position: absolute;
	bottom: 3rem;
	right: 3rem;
	z-index: 10;
}

.dday-main__registration-btns{
	position: absolute;
	bottom: 3rem;
	right: 3rem;
	text-align: right;
}

.dday-main__registration-btn{
	z-index: 10;
}


@keyframes marquee {
	from { transform: translate3d(0,0,0); }
	to { transform: translate3d(0,-50%,0); }
}

.dday-main__registration{
	background: url("../img/reg_bg_5.jpg") center center no-repeat;
	background-size: cover;
	border-top: 3px solid #000;
}

.facebook-btn{
	width: 4.5rem;
	padding: 0;
	margin-left: 1.5rem;
	transition: .25s;
}

.facebook-btn:hover{
	box-shadow: inset 4.5rem 0 0 #0f90f1;
}


/* Sections */

.section{
	padding-top: 5rem;
	padding-bottom: 6.875rem;
}

@media (max-width: 959px){
	.section{
		padding-top: 60px;
		padding-bottom: 80px;
	}
}

.section__title{
	position: relative;
	margin-bottom: 3rem;
	z-index: 2;
}

/* Registration */

.registration-form{
	position: relative;
	max-width: 680px;
	margin: 0 auto;
	font-weight: 500;
	z-index: 2;
}

@media (max-width: 959px){
	.registration-form__btn{
		width: 100%;
		margin-top: 20px;
	}
}


/* Footer */
.footer {
  padding-top: 42px;
  height: 100px; 
  color: #777;
  font-size: 15px;
  }

 @media (max-width: 768px){
 	.footer{
	 	padding-top: 30px;
	    height: 105px;
	    font-size: 14px;
	    text-align: center;
	}
 }

  .footer a{
  	color: #777;
  }

  .footer a:hover,
  .footer a:focus,
  .footer a:active,
  .footer a:active:focus {
    color: #000; }

.footer__right {
  margin-top: -5px; }

@media (max-width: 768px){
	.footer__right{
		float: none !important;
	}
}

@media (max-width: 768px){
	.footer__copyright{
		margin-top: 12px;
	}
}


.footer__phone {
  margin-left: 18px;
  margin-right: 18px; }
  .footer__phone:hover, .footer__phone:focus, .footer__phone:active, .footer__phone:active:focus {
    text-decoration: none; }

.social-links {
  display: inline-block;
  vertical-align: middle;
  margin:0;
  list-style-type: none;
  padding:0;
}
  .social-links .social-links__item {
    padding-left: 3px;
    padding-right: 0; 
    display: inline-block;
}

.social-link {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: block; }
  .social-link:hover, .social-link:focus, .social-link:active, .social-link:active:focus {
    text-decoration: none; }

.social-link--twtr {
  background: url("../img/twtr-icon.png") center center no-repeat; }
  .social-link--twtr:hover {
    background: url("../img/twtr-icon_color.png") center center no-repeat; }

.social-link--fb {
  background: url("../img/fb-icon.png") center center no-repeat; }
  .social-link--fb:hover {
    background: url("../img/fb-icon_color.png") center center no-repeat; }

.social-link--gplus {
  background: url("../img/gplus-icon.png") center center no-repeat; }
  .social-link--gplus:hover {
    background: url("../img/gplus-icon_color.png") center center no-repeat; }

.footer__phone{
	text-decoration: none;
	color: #000;
}

/* Popup */
.mdc-dialog{
	z-index: 100;
}

.mdc-dialog__surface{
	color: #000;
	width: 95%;
	max-width: 480px;
	min-width: 0;
	text-align: center;
	margin-top: -60px;
}

.mdc-dialog__close{
	position: absolute; 
	top: 12px;
	right: 12px;
	color: #000;
	cursor: pointer;
	opacity: .5;
}
.mdc-dialog__close:hover{
	opacity: .9;
}

.mdc-dialog__header__title{	
	font-family: "Open Sans";
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.4;
}

.mdc-dialog__body{
	font-size: 16px;
	margin-top: 8px;
	font-family: "Open Sans";
	letter-spacing: 0;
	line-height: inherit;
}

.mdc-dialog-scroll-lock{
	height: auto;
	overflow: visible;
}

/* Map */
.map{
	position: relative;
	height: 680px;
	overflow: hidden;
}

#map{
	position: absolute;
	width: 100%;
	height: 680px;
	top:0;
	left:0;
}

@media (max-width: 1150px){
 	#map{
	 	position: relative;
	 	height: 360px;
	}
 }

.map-card{
	width: 30rem;
	position: absolute;
	right: 4.5rem;
	top: 4.5rem;
	z-index: 2000;
}

@media (max-width: 1150px){
	.map-card{
		position: relative;
	 	width: 100%;
	 	border-radius: 0;
	 	right: auto;
	 	top: auto;
		border-left: 0;
		border-right: 0;
	}
}

.map-card__inner{
	position: relative;
	background-color: #fff;
	padding: 2.5rem 3rem 3rem;
}

@media (max-width: 1150px){
	.map-card__inner{
		padding: 24px 24px 32px;
	}
}

.map-card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -1.5rem;
    top: -1.5rem;
    border: 3px solid #000;
}

@media (max-width: 1150px){
	.map-card:before{
		display: none;
	}
}

/* Program */

.program-cards.layout .program-card__col{
	padding: 1rem;
}

@media (max-width: 959px){
	.program-cards.layout .program-card__col{
		padding: 8px;
	}	
}

.container .program-cards.layout:not(:only-child){
	margin-left: -1rem;
	margin-right: -1rem;
}

@media (max-width: 959px){
	.container .program-cards.layout:not(:only-child){
		margin-left: -8px;
		margin-right: -8px;
	}	
}

.program-cards{
	position: relative;
	margin-top: -1rem;
}

.program-cards::before{
	content: "";
	position: absolute;
	left: -910px;
	top: -250px;
	width: 1220px;
	height: 400px;
	background: url("../img/dot-bg.png") 0 0 repeat;
}

@media (max-width: 599px){
	.program-cards::before{
		left: -520px;
		top: -225px;
	}
}

.program-cards::after{
	content: "";
	position: absolute;
	right: 11%;
	bottom: -500px;
	width: 26%;
	height: 1000px;
	background: url("../img/dot-bg.png") 0 0 repeat;
}

@media (max-width: 599px){
	.program-cards::after{
		width: 50%;
		right: -5%;
	}
}

.program-card{
	position: relative;
	padding: 2rem 2rem 8.75rem;
	background-color: #ececec;
	font-size: 14px;
	height: 100%;
	z-index: 2;
}

@media (max-width: 959px){
	.program-card{
		padding: 24px 24px 8.75rem;
	}
}

.program-card.dark{
	color: rgba(255,255,255,.92);
}


.program-card__title,
.program-card__time{
	display: block;
	font-size: 1.25rem;
	font-weight: 600;
}

.program-card__time{
	margin-bottom: 1.5rem;
}

.dark .program-card__time{
	opacity: .8;
}

.light .program-card__time{
	opacity: .4;
}

.program-card__title{
	margin-bottom: .75rem;
}

.dark .program-card__title{
	color: #fff;
}

.light .program-card__title{
	color: #000;
}

.program-card__author{
	position: absolute;
	right: 2rem;
	bottom: 2rem;
}

.program-card__icon{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: -31px;
	color: #000 !important;
}

@media (max-width: 959px){
	.program-card__icon{
		display: none;	
	}	
}

.program-card__col:nth-child(1) .program-card{
	background-color: #e3f0fa;
	border: 3px solid #0070c5;
}

.program-card__col:nth-child(2) .program-card{
	background-color: #0070c5;
}

.program-card__col:nth-child(4) .program-card{
	background-color: #0ebc6a;
}

.program-card__col:nth-child(3) .program-card{
	background-color: #e4eef5;
}
.program-card__col:nth-child(8) .program-card{
	background-color: #202a31;
}
.program-card__col:nth-child(6) .program-card{
	background-color: #7ec2d3;
}

.program-card__col:nth-child(5) .program-card{
	background-color: #fbe8ff;
}

.program-card__col:nth-child(9) .program-card{
	background-color: #d2f5e1;
}
.program-card__col:nth-child(10) .program-card{
	background-color: #e4eef5;
}

